@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #a09e9e;
  --foreground: #0f0202;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #a3a3a3;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}






.profile{
  width: 290px;
  height: 290px;
  background:  url('/saint.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  border-radius: 50%;
  
  
  
  /* text-align: center; */
  
  
  


}

.look{
  width: 240px;
  height: 240px;
  background:  url('/saint.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  border-radius: 50%;
  
  
  
  /* text-align: center; */
  
  
  


}

.about{
  width: 100%;
  height: 65vh;
  background:  url('/willsaint.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  margin-top: 15px;
  translate:20px ;
  

  
  
  
  /* text-align: center; */
  
  
  


}

@media(max-width:768px){




  
}

.project{
  width: 98%;
  height: 16vh;
  background:  url('/shoelayers.png');
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center;
  margin-top: 15px;
  translate:21px ;
  border: none;
  
  

  
  
  
  /* text-align: center; */
  
  
  


}

.project-3{
  width: 98%;
  height: 40vh;
  background:  url('/shoelayers.png');
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center;
  margin-top: 15px;
  translate:30px ;
  border: none;
  
  

  
  
  
  /* text-align: center; */
  
  
  


}


.project-2{
  width: 100%;
  height: 16vh;
  background:  url('/coach.png');
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center;
  margin-top: 15px;
  translate:20px ;
  

  
  
  
  /* text-align: center; */
  
  
  


}

.project-4{
  width: 100%;
  height: 40vh;
  background:  url('/coach.png');
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center;
  margin-top: 15px;
  translate:20px ;
  

  
  
  
  /* text-align: center; */
  
  
  


}

.project-5{
  width: 100%;
  height: 16vh;
  background:  url('/netflixx.png');
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center;
  margin-top: 15px;
  translate:20px ;
  

  
  
  
  /* text-align: center; */
  
  
  


}

.project-6{
  width: 100%;
  height: 40vh;
  background:  url('/netflixx.png');
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center;
  margin-top: 15px;
  translate:20px ;
  

  
  
  
  /* text-align: center; */
  
  
  


}

.background{


  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2, 104, 36, 0.041) 0%, rgba(117, 9, 121, 0.185) 100%, rgba(0, 30, 255, 0.288) 100%);

}




html{
  scroll-behavior:smooth;
}

